@import "../../styles/mixins";

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #ddd;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;

  .logo {
    display: flex;
    align-items: center;
    height: 100%;
    width: 20%;

    @include lg {
      justify-content: center;
      width: 60%;
    }

    img {
      height: 70%;
    }
  }

  .search-bar {
    width: 60%;
  }

  .search-icon {
    display: none;
    justify-content: center;
    align-items: center;
    width: 20%;
    font-size: 2.5rem;
    cursor: pointer;
  }

  .search-icon:hover {
    color: $primary-color;
  }
  
  @include lg {
    .search-icon {
      display: flex;
    }

    .search-bar-mobile {
      display: flex;
    }
  }

  @include lg {
    .search-bar {
      display: none;
    }
  }

  .link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    text-decoration: none;
    font-size: 1.5rem;
    width: 20%;

    .icon {
      font-size: 2.3rem;
      margin-right: 10px;
    }
  }

  .link:hover {
    color: $primary-color;
  }

  @include sm {
    .link {
      .icon {
        font-size: 3rem;
        margin-right: 0;
      }

      span {
        display: none;
      }
    }
  }
}